# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# uv / virtualenv
.venv/

# Python version (optional)
.python-version

# Test & coverage
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db

# Output files
output/
out/
*.png
